.main-container{
  display: grid;
  grid-template-columns: 6fr 2fr;
  max-width: 1700px;
  margin: 0 auto;
  
}


@media (max-width: 576px) { 
  .main-container{
    display: grid;
    grid-template-columns: 1fr;
    
  }
 }


@media (min-width: 576px) and (max-width: 1000px) { 
  .main-container{
    display: grid;
    grid-template-columns: 1fr;
    
  }
 }


