.main-container{
  display: grid;
  grid-template-columns: 6fr 2fr;
  gap: 20px;
}
@media screen and (max-width:500px) {
  .main-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}